#!/bin/bash


{% if ansible_distribution == "Ubuntu" %}
   ############# / Ubuntu script \ #############
   
   #Clean environnement just in case
   sudo apt-get remove docker docker-engine docker.io containerd runc -y
   
   # add Docker repo
   sudo apt-get update -y
   sudo apt-get install \
      ca-certificates \
      curl \
      gnupg \
      lsb-release -y
   curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
   echo \
     "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu \
     $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
   
   #install configure and start docker
   sudo apt-get update -y
   sudo apt-get install docker-ce docker-ce-cli containerd.io -y
   sudo usermod -aG docker {{ ansible_user }}
   
   # install python and dependancies for future use
   sudo apt install python3 -y
   sudo apt install python3-pip -y
   sudo pip3 install docker-py





{% elif ansible_distribution == "CentOS" %}
   ############# / CentOS script \ #############
   
   #Clean environnement just in case
   sudo yum remove docker docker-client docker-client-latest docker-common docker-latest docker-latest-logrotate docker-logrotate docker-engine -y
   
   #add Docker repo
   sudo yum install -y yum-utils
   sudo yum-config-manager \
       --add-repo \
       https://download.docker.com/linux/centos/docker-ce.repo
   
   #install configure and start docker
   sudo yum install docker-ce docker-ce-cli containerd.io -y
   sudo usermod -aG docker {{ ansible_user }}
   sudo systemctl enable docker
   sudo systemctl start docker
   
{% else %}
   echo 'Distribution pas prise en charge'
{% endif %}
